<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BindingOriented.Adapters.Demo.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=(local);Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>